[submodule "Drivers/stm32f0xx_hal_driver"]
	path = Drivers/stm32f0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f0xx_hal_driver.git
[submodule "Drivers/cmsis"]
	path = Drivers/cmsis
	url = https://github.com/STMicroelectronics/cmsis_device_f0.git
